<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.utm.views.GuiOption"
            id="org.eclipse.utm.views.GuiOption"
            name="UML Trace Magic">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.utm.views.ViewOpen"
            id="org.eclipse.utm.views.ViewOpen"
            name="UML Trace Magic(OpenMenu)">
      </view>
      <view
            class="org.eclipse.utm.views.ViewResult"
            id="org.eclipse.utm.views.ViewResult"
            name="UML Trace Magic(Results)"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.utm.views.perspectives"
            id="org.eclipse.utm.views.perspectives"
            name="utm Perspective">
      </perspective>
   </extension>

</plugin>
